.boxMaskBottomWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .boxMaskBottom {
    overflow: hidden;
  }
}
.boxMaskBottom {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
