:root {
  --p: 0%;
  --p-ac: 100%;
  --padding-container: 4rem;
  --easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
  --easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);
  --easeInOutQuad: cubic-bezier(0.45, 0, 0.55, 1);

  --bg-sf: #1c1a17;
  --bd-dark-strong: rgba(103, 102, 101, 1);
  --bd-dark-soft: #32302e;
  --bg-primary: #f0e9e1;
  --bg-dark: #2e2a26;
  --bg-light: #f7f4f0;
  --text-light-primary: #2e2a26;
  --text-dark-primary: #f7f4f0;

  --text-light-label: rgba(33, 33, 33, 0.7);
  --text-dark-label: rgba(255, 255, 255, 0.7);

  --text-light-secondary: #68635e;
  --text-dark-secondary: #cfcbc8;

  --text-light-tertiary: #938f8b;
  --text-dark-tertiary: '#898784';

  --text-light-white: #ffffff;
  --text-dark-white: #000;
}
