html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

//forInteractive RandomeTextLines
.target-size {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.grid {
  column-gap: var(--gap-x);
}

.container {
  max-width: unset !important;
  margin-inline: auto;
  --gap-x: 2rem;
  --padding-container: 1.25rem;
  padding-inline: var(--padding-container);

  @include min-tablet {
    --gap-x: 2rem !important;
    --padding-container: 3.2rem;
    max-width: unset !important;
  }
  @include pcSmall {
    --padding-container: 5rem;
    margin-inline: auto;
    max-width: var(--max-container) !important;
  }
}
