:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  line-height: 1.5;
  font-family: var(--font-body);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-light-secondary);
}

#mainpage {
  &:not(.is-ready) {
    opacity: 0;
  }
}

body {
  --gap-x: 2rem;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 100%;

  @include pcSmall {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

h1,
h2,
h3,
h4 {
  font-style: normal;
  font-weight: 500;
}

.d {
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  &__320 {
    font-size: rem(320px);
    letter-spacing: rem(-9.6px);
  }

  &__64 {
    font-size: rem(64px);
  }

  &__40 {
    font-weight: 600;
    line-height: 115%;
    font-size: rem(40px);
  }

  &__36 {
    font-weight: 500;
    line-height: 115%;
    font-size: rem(36px);

    p {
      font-weight: 500;
    }
  }
}

.desc {
  font-style: normal;
  font-weight: 500;
  line-height: 115%;

  &__48 {
    font-size: rem(48px);
  }

  &__24 {
    font-size: rem(24px);
  }
}

.label {
  // font-family: var(--font-label);
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;

  &__14 {
    font-size: rem(14px);
  }

  &__12 {
    font-size: rem(12px);
  }
}
.textMask_el__clone {
  color: var(--text-dark-primary);
}

.text-underline {
  overflow: hidden;
  position: relative;

  &_line {
    display: block;
    transform: translate(-102%, 0px);
    border-bottom: 1px solid var(--dark);
    width: 100%;
    bottom: 0;
    left: 0;
    will-change: transform;
  }
}

.layer-item {
  position: absolute;
  will-change: transform;
}

.anim-paragraph {
  &__3d {
    perspective: 1000px;

    .line {
      perspective: 1000px;
    }
  }

  .line {
    overflow: hidden;
    padding-bottom: 0.01em;
    backface-visibility: hidden;
  }
}

.work-item {
  .line {
    overflow: hidden;
    padding-bottom: 0.01em;
    backface-visibility: hidden;
    text-align: center !important;
  }
}
.text-desc {
  .line {
    overflow: hidden;
    padding-bottom: 0.01em;
    backface-visibility: hidden;
    text-align: center !important;
  }
}
.line-in-line {
  display: block;
  will-change: transform;
  backface-visibility: hidden;
}

.el-hover {
  overflow: hidden;
}

.el-marker {
  display: block;
}

strong {
  font-weight: 500 !important;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: none;
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
}

.rulermode-info {
  display: none !important;
}

.rulermode-rectangle {
  background-color: rgba(255, 0, 0, 0.431) !important;
}
