.pageLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  color: white;
  font-size: 120px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  opacity: 1;
  background: var(--dark);

  &.isHide {
    pointer-events: none;
    visibility: hidden;
    z-index: -999;
    opacity: 0;
  }
}
