.boxMaskBottomWrapper {
  will-change: transform;
  &:not(.isComplete) {
    overflow: hidden;

    .boxMaskBottom {
      overflow: hidden;
      will-change: transform;
    }
  }
}

.boxMaskBottom {
  position: relative;
  display: block;
}
